@import url('https://fonts.googleapis.com/css?family=Creepster|Poppins|Pacifico|Lobster|Bungee|Heebo&display=swap');

// FONTS
$paragraph: 'Poppins', sans-serif;
// $paragraph: 'Pacifico', sans-serif;
// $paragraph: 'Lobster', sans-serif;
// $paragraph: 'Bungee', sans-serif;
// $paragraph: 'Heebo', sans-serif;

$heading: 'Creepster', Arial;
$heading2: 'Bungee', Arial;

$special: 'Pacifico', sans-serif;


$header: 720px;