@import '../mixed/functions.scss';

.footer--main {
  padding: pad(large) pad(large);
  margin: 0 auto;
  max-width: 1200px;
  background-color: #111;

  p {
    color: white;
    margin: 0;
    font-size: 12px;
    text-align: center;
  }
}