@import '../mixed/functions.scss';

.global-header {
  text-align: center;
  padding: pad(large) 0;
  padding-bottom: pad(small);

  a {
    text-decoration: none;

    &:hover .main-heading {
      color: color(font, orange);
    }

    .main-heading {
      margin: 0;
      font-size: 3rem;
      font-weight: normal;
      transition: color .2s ease-in-out;
    }
  }
}

@media only screen and (max-width: media(mobile)) {
  .global-header {
    text-align: left;
    margin-bottom: 3rem;

    a .main-heading {
      font-size: 2.7rem;
    }
  }
}