@import '../mixed/functions.scss';

#top-nav {
  display: flex;
  justify-content: center;
  padding: pad() 0;

  &.active {
    display: flex;
  }

  a {
    padding: 0 pad(large);
    border-left: 1px solid black;
    font-weight: normal;
    text-decoration: none;

    &:first-child {
      border-left: none;
    }

    &.active {
      color: color(font, orange);
      // text-decoration: underline;
    }
  }

  @media screen and (max-width: media(tablet)) {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: color(bg);

    a {
      border: none;
      color: color(bg, blue);
    }
  }
}

#hamburger {
  display: none;
  z-index: 10000;

  @media screen and (max-width: media(tablet)) {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: pad();
  }
}