@import '../mixed/functions.scss';

#top-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: pad() 0;

  &.active {
    display: flex;
  }

  a {
    padding: 0 pad(large);
    border-left: 1px solid black;
    font-weight: normal;
    text-decoration: none;

    &:first-child {
      border-left: none;
    }

    &:last-of-type {
      border-right: 1px solid black;
    }

    &.active {
      color: color(font, orange);
      // text-decoration: underline;
    }
  }

  @media screen and (max-width: media(tablet)) {
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    z-index: 10000;
    box-shadow: 0px -5px 10px 3px rgba(10, 10, 10, .6);
    transform: translateY(100%);
    transition: transform .2s ease-in-out;

    &.active {
      transform: translateY(0%);
    }

    a {
      padding: pad();
      border: none !important;
      color: color(bg, blue);
    }
  }
}