@import '../mixed/functions.scss';

.pagination {
  display: flex;
  position: relative;
  justify-content: center;

  a {
    text-decoration: none;
  }

  .num-wrap {
    a {
      padding: pad(small);

      &.active {
        font-weight: bold;
        color: color(font, orange);

      }

      &:hover {
        color: color(font, orange);
      }
    }
  }

  .previous {
    left: 0;
    position: absolute;
  }

  .next {
    right: 0;
    position: absolute;
  }
}