@import '../mixed/functions.scss';

.tags {
  .heading {
    color: color(bg, blue);
    margin: 0;
    font-weight: normal;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding-right: pad(small);

      a {
        text-decoration: none;
        background-color: color(link);
        border-radius: 20px;
        padding: calc(pad(small) / 2) pad(small);
        display: block;
        margin: pad(small) 0;
        transition: background-color .2s ease-in-out;

        span {
          color: color(font, light);
          transition: color .2s ease-in-out;
        }

        &:hover {
          span {
            color: color(font, orange);
          }
        }
      }
    }
  }
}