@import '../mixed/functions.scss';

.theme-toggler {
  background-color: transparent;
  border: 2px solid #eee;
  border-radius: 20px;
  width: 40px;
  text-align: left;
  padding: 2px;
  margin-left: pad(large);
  right: 0;
  outline: none;
  font-size: 1rem;
  transition:
    padding .2s ease-in-out,
    background-color .2s ease-in-out;
  cursor: pointer;

  &:focus, &:active {
    background-color: color(font, orange);
  }

  &.light {
    border-color: black;
    padding-left: .8rem;
  }

  @media screen and (max-width: media(tablet)) {
    margin: pad();
    border-color: #eee !important;
  }
}