@import '../mixed/functions.scss';

.posts {
  display: flex;
  flex-direction: row;

  .post-list {
    flex: 50%;
    padding: pad(large);
    border-radius: 5px;
    margin: 0 pad();
    background-color: color(bg);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
      .post-list-item {
        background-color: color(bg, orange);
      }

      .heading a {
        color: color(bg, orange);
      }
    }

    .heading {
      text-align: center;

      a {
        color: color(bg, blue);
      }
    }

    .post-list-item {
      border-radius: 5px;
      background-color: color(bg, blue);
      padding: pad();
      margin: pad() 0;

      &:last-child {
        margin-bottom: 0;
      }

      h2 {
        font-size: 1.2rem;
      }
    }
  }
}