@import '../mixed/functions.scss';

.posts {
  display: flex;
  flex-direction: row;
  padding: pad(large) 0;

  .post-list {
    flex: 50%;
    padding: 0 pad(large);

    .heading {
      text-align: center;
    }

    &:first-child {
      border-right: 1px solid color(bg);
    }
  }
}