@import './mixed/functions.scss';

$col: #eee;

.dark {
  background-color: #0c0c0c;

  h1, h2, h3, h4, h5, h6 {
    color: $col;
  }

  p, li, div, span, i, strong {
    color: $col;
  }

  a {
    color: color(bg, blue);

    &:hover {
      color: color(font, orange);
    }
  }

  #top-nav a {
    border-color: $col;
  }

  .post-list {
    border: 1px solid color(bg, blue);
    background-color: transparent !important;

    .post-list-item h2 a, p, small {
      color: color(bg, blue);
    }

    .post-list-item {
      background-color: color(bg) !important;
    }

  }

  .projects {
    border: 1px solid color(bg, orange);

    .post-list-item h2 a, p, small {
      color: color(bg, orange);
    }
  }

  .single-post .tags .heading {
    color: $col;
  }
}
