@import './mixed/variables.scss';
@import './mixed/functions.scss';

html {
  background-image: url('../../content/assets/bg.png');
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  font-family: $heading;
}

h2, h3, h4, h5, h6 {
  font-family: $heading2;
  color: color(font);
}

p, a, li, div, span, i, strong {
  font-family: $paragraph;
  color: color(font);
}

a {
  color: color(link);
}

// GLOBALS
.global-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 pad(large);
  background-color: white;
}