@import '../mixed/functions.scss';

.single-post {
  header {
    margin-bottom: pad(large);

    h1 {
      margin : 0;
      font-size: pad(large);
    }

    .date {
      display: block;
    }
  }

  .blog-post {
    margin-bottom: pad(large);
  }

  footer {
    margin: pad(large) 0;
  }

  .related-posts {
    display: flex;
    flex-direction: column;
    margin-top: pad();

    h3 {
      font-weight: normal;
      margin: pad() 0;
    }

    a {
      margin: (pad(small) / 2) 0;
    }
  }

  .tags {
    list-style-type: none;
    padding: 0;
    display: block;

    .heading {
      color: color(font);
      margin: pad() 0;
    }

    li {
      padding-right: pad(small);
    }
  }

  .blog-post-nav {
    margin-top: pad(large);

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}

@media only screen and (max-width: media(tablet)) {
  .single-post {
    footer {
      margin: pad() 0;

      h3 {
        margin-bottom: pad(small) !important;
      }
    }

    .blog-post {
      margin-bottom: pad();
    }

    .related-posts {
      margin: 0;

      a {
        margin: pad(small) 0;
      }
    }

    .blog-post-nav {
      margin: pad() 0;

      li:first-child {
        margin-bottom: pad();
      }
    }
  }
}