@import '../mixed/functions.scss';

.single-post {
  header {
    margin-bottom: 2rem;

    h1 {
      margin : 0;
      font-size: 2.5rem;
    }

    .date {
      display: block;
    }
  }

  footer {
    margin: 2rem 0;
  }

  .related-posts {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    h3 {
      margin: 1rem 0;
    }

    a {
      margin: .3rem 0;
    }
  }

  .tags {
    list-style-type: none;
    padding: 0;
    display: block;

    .heading {
      color: color(font);
      margin: 1rem 0;
    }

    li {
      padding-right: .7rem;
    }
  }

  .blog-post-nav {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  }
}