@import '../mixed/functions.scss';

.projects {
  h1 {
    color: color(bg, orange);
  }

  a {
    color: color(bg, orange);

    &:hover {
      color: color(bg, blue);
    }
  }

  .post-list-item {
    background-color: color(bg, orange);
  }
}